{% extends 'base.html.twig' %}

{% block title %}New Specialisation{% endblock %}

{% block body %}
    <h1>Create new Specialisation</h1>

    {{ include('specialisation/_form.html.twig') }}

    <a href="{{ path('app_specialisation_index') }}">back to list</a>
{% endblock %}
