.imageheader {
  margin: 0;
  padding: 0;
  background-image: url("../img/bienvenue.jpg");
  /* Remplacez 'votre-image.jpg' par le chemin de votre image de fond */
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Overlay semi-transparent noir */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white; /* Texte blanc */
}

.text-overlay h1 {
  margin-bottom: 10px;
}

.text-overlay .btn {
  margin: 5px;
}
