{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<!-- Section-->
	<div	class="container">
		<hr>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<br>
			<button	type="submit"	class="btn btn-success">
				enregistrer !
			</button>
			<a	href="{{ path('app_orthophoniste') }}"	class="btn btn-danger">
				Retour
			</a>
		</br>
	</br>
</br>
{{ form_end(form) }}{% endblock %}