{% extends 'base.html.twig' %}
{% block body %}
<h1>Liste des jeux</h1>
<ul>
    {% for game in games %}
    <li>
        <a href="{{ path('game_show', { id: game.id }) }}">{{ game.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}