{% extends 'base.html.twig' %}

{% block title %}
    Hello DefaultController!
{% endblock %}

{% block body %}
    <main>
        <section>
            <h2>
                Explication et Présentation de l'Ortholib :
            </h2>
            <div>
                <video controls>
                    <source src="" type="video/mp4">
                        Votre navigateur ne supporte pas la vidéo.
                    </video>
                </div>
                <p>
                    TEXTE
                </p>
            </section>

            <!-- Liens supplémentaires -->
            <section>
                <ul>
                    <li>
                        <a href="{{ path('app_nouveautes') }}">
                            Nouveautés
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_reglement_application') }}">
                            Règlement de l’application
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_liste_orthophoniste') }}">
                            Listes des Orthophonistes
                        </a>
                    </li>
                </ul>
            </section>
        </main>
    {% endblock %}
    