{% extends 'base.html.twig' %}

{% block title %}
	Hello DefaultController!
{% endblock %}

{% block body %}
	{% include 'tools/header.html.twig' %}
	<main>
		<section class="my-4">
			<ul class="list-inline text-center">
				<li class="list-inline-item mx-3">
					<a href="{{ path('app_nouveautes') }}" class="text-decoration-none text-dark">
						<img src="/img/new.png" alt="Nouveautés" class="rounded-circle" style="width: 80px; height: 80px;">
						<div class="mt-2">Nouveautés</div>
					</a>
				</li>
				<li class="list-inline-item mx-3">
					<a href="{{path('app_espace_patient')}}" class="text-decoration-none text-dark">
						<img src="/img/personnalise.png" alt="Suivi Personnalisé" class="rounded-circle" style="width: 80px; height: 80px;">
						<div class="mt-2 text-decoration-none">Suivi Personnalisé</div>
					</a>
				</li>
				<li class="list-inline-item mx-3">
					<a href="{{ path('app_orthophoniste') }}" class="text-decoration-none text-dark">
						<img src="/img/listeOrthophonistes.webp" alt="Listes des Orthophonistes" class="rounded-circle" style="width: 80px; height: 80px;">
						<div class="mt-2">Listes des Orthophonistes</div>
					</a>
				</li>
			</ul>
		</section>
		<br>
		<section>
			<div>
				<video controls>
					<source src="" type="video/mp4">
					Votre navigateur ne supporte pas la vidéo.
				</video>
			</div>
			<p>
				TEXTE
			</p>
		</section>
	</main>
{% endblock %}
